{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/css/style.min.css' %}">
    <title>{{ title }}</title>
</head>
    <body>
        <div class="wrapper">
            <header>
    <div class="container">
        <div class="header__row">
            <img src="{% static 'vendor/img/svgicons/logo.svg' %}" alt="logo">
        </div>
    </div>
</header>
            <main class="content">
                <section class="page-intro">
                    <div class="container">
                        <div class="page-intro__row">
                            <h1>Навыки</h1>
                        </div>
                    </div>
                    <div class="page-intro__bg">
                        <div class="container">
                            <div class="page-intro__img">
                                <picture><source srcset="{% static 'vendor/img/skills/intro.webp' %}" type="image/webp"><img src="{% static 'vendor/img/skills/intro.png' %}" alt="intro"></picture>
                            </div>
                        </div>
                        <div class="page-intro__shadow"></div>
                    </div>
                </section>
                <section class="page-inner">
                    <div class="container">
                        <div class="page-inner__row">
                            <aside class="page-aside aside-index">
                                 <ul class="page-aside__row aside-index__row">
                                    <a class="page-aside__link aside-index__link" href="{% url 'index' %}"><li>Главная</li></a>
                                    <a class="page-aside__link aside-index__link" href="{% url 'demand' %}"><li>Востребованность</li></a>
                                    <a class="page-aside__link aside-index__link" href="{% url 'geography' %}"><li>География</li></a>
                                    <a class="page-aside__link aside-index__link" href="{% url 'skills' %}"><li>Навыки</li></a>
                                    <a class="page-aside__link aside-index__link" href="{% url 'recent_vacancies' %}"><li>Последние вакансии</li></a>
                                </ul>
                            </aside>
                            <div class="page-content content-skills">
                                <h2 class="page-content__title content-skills__title">Страница временно не работает</h2>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer class="footer">
    <div class="container">
        <div class="footer__row">
            <p>Автор: <br>
                Удалых Максим Сергеевич<br>
                РИ-210931
            </p>
        </div>
    </div>
</footer>
        </div>
    </body>
</html>